manifest {
    author = 'Mahsa Mousavi-Derazmahalleh'
    name = 'eDNAFlow' 
    homePage = 'http://github.com/mahsa-mousavi/eDNAFlow'
    description = 'Pipeline identifies Zotus using USEARCH unoise3'
    mainScript = 'eDNAFlow.nf'
    version = '1.0.0'
}


resume = true


trace {
  
  fields = 'name,hash,status,exit,realtime,submit,%cpu,%mem'
}



/*
 * Define the pipeline parameters
 * Each of these parameters can be specified at command line (e.g. --barcode 'x.txt'); if none specified the below will be set as default 
 */

params.reads = "*_{R1,R2}.fastq"
params.barcode = "*_bc.txt"
params.minQuality = "20"
params.minAlignLeng = "10"
params.minLen = "10"
params.minsize = "8"
params.maxTarSeq = "10"
params.perc_identity = "95"
params.evalue = "1e-3"
params.qcov = "100"  
params.lulu = "lulu.R"  
params.mode = "usearch32"  // default is usearch32, for running with 64 version the mode has to be set to 64 (i.e. --mode 'usearch64') 
params.usearch64 = "/group/pawsey0159/TrEnD_software/software/usearch11_64"  // the path to usearch64 bit version 



// Setting up execution platforms (i.e. HPC, cloud or local machine), containers, and memory requirements if run on HPC

profiles {

cluster {
  process {
    cache = 'lenient'        // Enable caching. Cache keys are created indexing input files path and size attributes
    stageInMode = 'symlink'  // Input files are staged in the process work directory by creating a symbolic link with an absolute path for each of them (default)
  }

  process {
      withLabel: 'adapterRemoval'           { container = 'docker://biocontainers/adapterremoval:v2.2.0-1-deb_cv1' }
      withLabel: 'obitools'                 { container = 'quay.io/biocontainers/obitools:1.2.11--py27_1' }
      withLabel: 'usearch'                  { container = 'docker://sunqiangkun/usearch:v1' }
      withLabel: 'blast'                    { container = 'quay.io/biocontainers/blast:2.7.1--h4422958_6' }
      withLabel: 'lulu'                     { container = 'docker://index.docker.io/mahsamousavi/lulu:2019' }
  }

  singularity {
      enabled = true
      autoMounts = true
      runOptions = '-B /group -B /scratch'   // This attribute can be used to provide any extra command line options supported by the singularity exec; the working directory on your HPC has to be bound similarly with -B
      cacheDir = "/group/pawsey0159/TrEnD_containers/singularity/groupRepository"   // The directory where remote Singularity images are stored
    }


  params {
      blast_db=''   
      custom_db=''       
    }


  params.slurm_account = 'pawsey0159'
  process {
      executor = 'slurm'
      clusterOptions = "--account=${params.slurm_account}"
      queue = 'workq'
      cpus = 1
      time = '1d'
      memory = '20GB'

      withLabel: 'adapterRemoval' {
        cpus = 1
        time = '3h'
        memory = '120GB'
   }

     withLabel: 'obitools' { 
       cpus = 1
       time = '1d'
       memory = '8GB'
    }
    
     withLabel: 'usearch' {
      cpus = 1
      time = '18h'
      memory = '120GB'   // if it's on the default mode (i.e. usearch32) it can only use 4Gb of memory 
  }    
 
     withLabel: 'blast' {
      cpus = 1
      time = '1d'
      memory = '120GB'
   }

    withLabel: 'lulu' {
      cpus = 1
      time = '4h'
      memory = '120GB'
  }


  }
 }


cloud {
  process.cache = 'lenient'

  params {
    blast_db=''
    custom_db=''
  }

  process {
      withLabel: 'adapterRemoval'           { container = 'docker://biocontainers/adapterremoval:v2.2.0-1-deb_cv1' }
      withLabel: 'obitools'                 { container = 'quay.io/biocontainers/obitools:1.2.11--py27_1' }
      withLabel: 'usearch'                  { container = 'docker://sunqiangkun/usearch:v1' }
      withLabel: 'blast'                    { container = 'quay.io/biocontainers/blast:2.7.1--h4422958_6' }
      withLabel: 'lulu'                     { container = 'docker://index.docker.io/mahsamousavi/lulu:2019' }
  }

  singularity {
    enabled = true
    autoMounts = true
    runOptions = '-B /MahsaVolume1'   // the volume or working directory on your cloud has to bound similarly with -B   
  }

  process {
    cpus = 1
  }
}



local {
  process.cache = 'lenient'

  params {
    blast_db=''
    custom_db=''
  }

singularity {
      enabled = true
      autoMounts = true
    }


  process {
      withLabel: 'adapterRemoval'           { container = 'docker://biocontainers/adapterremoval:v2.2.0-1-deb_cv1' }
      withLabel: 'obitools'                 { container = 'quay.io/biocontainers/obitools:1.2.11--py27_1' }
      withLabel: 'usearch'                  { container = 'docker://sunqiangkun/usearch:v1' }
      withLabel: 'blast'                    { container = 'quay.io/biocontainers/blast:2.7.1--h4422958_6' }
      withLabel: 'lulu'                     { container = 'docker://index.docker.io/mahsamousavi/lulu:2019' }
  }

process {
    cpus = 1
  }
}


}
