singularity {
      enabled = true
      autoMounts = true
      String parameters = ''
      if (params.bindDir!='') {
	for (a in params.bindDir.split()) {
	   parameters = "${parameters} -B ${a}"
      	}
	runOptions = parameters.substring(1)
      }
      if (params.singularityDir!='') {
        cacheDir = "${params.singularityDir}"
      }
    }


  process {

      withLabel: 'fastqc'                   { container = 'docker://biocontainers/fastqc:v0.11.9_cv7' }
      withLabel: 'adapterRemoval'           { container = 'docker://biocontainers/adapterremoval:v2.2.0-1-deb_cv1' }
      withLabel: 'obitools'                 { container = 'quay.io/biocontainers/obitools:1.2.11--py27_1' }
      withLabel: 'usearch'                  { container = 'docker://sunqiangkun/usearch:v1' }
      withLabel: 'blast'                    { container = 'quay.io/biocontainers/blast:2.9.0--pl526he19e7b1_6' }
      withLabel: 'lulu'                     { container = 'docker://index.docker.io/mahsamousavi/lulu:2019' }
      withLabel: 'lca_python3'              { container = 'docker://python:3.6'}

      cache = 'lenient' 

      cpus = { check_max( 1 * task.attempt, 'cpus' ) }
      memory = { check_max( 6.GB * task.attempt, 'memory' ) }
      time = { check_max( 4.h * task.attempt, 'time' ) }
}
