params.usearch64 = "/group/pawsey0159/TrEnD_software/software/usearch11_64"  // the path to usearch64 bit version

  singularity {
      runOptions = '-B /group -B /scratch'   // This attribute can be used to provide any extra command line options supported by the singularity exec; the working directory on your HPC has to be bound similarly with -B
      cacheDir = "/group/pawsey0159/TrEnD_containers/singularity/groupRepository"   // The directory where remote Singularity images are stored
    }


  params.slurm_account = 'pawsey0159'
  process {
      executor = 'local'
      clusterOptions = "--account=${params.slurm_account}"
      queue = 'workq'

      cpus = { check_max( 1, 'cpus') }
      time = { check_max( 24.h, 'time') }
      memory = { check_max( 54.GB, 'memory') }

  }


