// This config is assuming that you have access to 16 cpus, 54 GB of memory and can run the analysis up to 120 hours on your system
// Adjust them in accordance with your system resources if necessary

  process {
      
      cpus = { check_max( 16, 'cpus') }
      time = { check_max( 120.h, 'time') }
      memory = { check_max( 54.GB, 'memory') }

}
